# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Large / generated data
data/
archive/

# Experiment outputs (keep code, ignore results)
experiments/results/

# Models & checkpoints
*.pt
*.pth
*.pkl
*.npy

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
