venv/
.venv/

__pycache__/
*.pyc

.DS_Store
Thumbs.db

.vscode/
.idea/

data/
datasets/
clients/
clients_noniid/

*.pt
*.pth

*.pkl
*.npy
*.log

data/
archive/
experiments/results/fedavg/
experiments/results/pfl/

experiments/results/graphs/

.ipynb_checkpoints/
